.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Title-header {
  color: #2e9cdb;
}

.Title-trip {
  margin-top: 7px;
  color: #2e2e2e;
}

.Title-trip:hover {
  color: #2e2e2e;
  text-decoration: none;
}

.App-input {
  text-align: center;
  outline: 0;
  border-width: 0 0 2px;
}

.App-input:focus {
  box-shadow: none;
  border-color: #2e9cdb;
}

.trip-card {
  border: none;
  text-align: left;
}

#collapseDescription.collapse:not(.show) {
  display: block;
  height: 45px;
  overflow: hidden;
}

#collapseDescription.collapsing {
  height: 45px;
}

#collapseTitle.collapse:not(.show) {
  display: block;
  height: 60px;
  overflow: hidden;
}

#collapseTitle.collapsing {
  height: 60px;
}

#collapseTags.collapse:not(.show) {
  display: block;
  height: 45px;
  overflow: hidden;
}

#collapseTags.collapsing {
  height: 45px;
}

.img-trip {
  object-fit: cover;
  border-radius: 17px;
}

.img-trip-sub {
  margin-left: 0.55rem;
  margin-right: 0.55rem;
  object-fit: cover;
  border-radius: 17px;
}

.tag {
  cursor: pointer;
  text-decoration: underline;
}

.mt-5 {
  margin-top: 5vmin;
  margin-bottom: 5vmin;
}

.mt-4 {
  margin-top: 4vmin;
  margin-bottom: 4vmin;
}

.mt-3 {
  margin-top: 3vmin;
  margin-bottom: 3vmin;
}

.mt-2 {
  margin-top: 2vmin;
  margin-bottom: 2vmin;
}

.mt-top-1 {
  margin-top: 1vmin;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
